<%- include('header'); -%>

<main> 
<div>
<h1>Survey List</h1>
<p>The complete list of <em>dKin Butterflies</em> surveys is shown in the table below. Accessing this data stored in a persistant database is performed on the server. <br> There is a total of <%= surveysCompleted%> surveys completed.</p>




</div>
</main>
<%- include('footer'); -%>